@font-face {
    font-family: unifont;
    src: url(../font/GnuUnifontFull-Pm9P.woff2);
}

:root {
    --pixel-black: #23313f;
    font-size: 150%;
}

body {
    font-family: unifont;
    background-color: #03A9F4;
}

ul {
    list-style-type: square;
}

ul.info {
    padding: 20px 0px 0px;
}

hr {
    height: 2px !important;
}

button {
    background-color: white;
    margin-bottom: 8px;
}

li {
    margin-bottom: 8px;
}

#avatar, #avatar1 {
    width: 150px;
    height: 150px;
}

.icon {
    width: 51px;
    height: auto;
}

.pixel-button {
    border: none;
    filter: drop-shadow(4px 4px var(--pixel-black));
}

.pixel-button:hover {
    filter: none;
    filter: drop-shadow(8px 8px var(--pixel-black));
    transform: translate(-2px, -2px);   
}

.pixel-button:active {
    filter: none;
    transform: translate(2px, 2px);
}

.pixel-border {
    margin: 10px;
    padding: 5px 10px;
    box-shadow: 0px 4px var(--pixel-black), 0px -4px var(--pixel-black), 4px 0px var(--pixel-black), -4px 0px var(--pixel-black);
}