@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-[1.25rem];
  }
}

.pixel-box {
  position: relative;
  background: var(--backgroundColor);
  max-width: 800px;
  margin: 24px auto;
  padding: 12px;
  -webkit-box-shadow:
    0 3px #23313f,
    0px -3px #23313f,
    3px 0px #23313f,
    -3px 0px #23313f;
  box-shadow:
    0 3px #23313f,
    0px -3px #23313f,
    3px 0px #23313f,
    -3px 0px #23313f;

  @apply bg-white bg-opacity-50;
}

.background {
  background-color: #0061e9;
  background-image: linear-gradient(160deg, #0061e9 0%, #80d0c7 100%);
}

.background.secret {
  background-color: #5500ff;
  background-image: linear-gradient(62deg, #5500ff 0%, #bb55ff 100%);
}
